<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/assets/css/login-admin.css" />
   
    </head>
    <body>
    <form action="/login-admin" method="POST">
        <h2>Admin Login</h2>
        <input type="text" name="username" class="text-field" placeholder="Username" />
        <input type="password" name="password" class="text-field" placeholder="Password" />
        <input type="submit"  class="button" value="Login" />
    </form>
    </body>