<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hotel</title>
  <link rel="stylesheet" href="hotels.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <div id="fb-root"></div>


  <!-- Font Awsome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2">
            <div id="colorlib-logo"><a href="index.html">Tour</a></div>
          </div>
          <div class="col-xs-10 text-right menu-1">
            <ul>
              <li><a href="index.html">Trang chủ</a></li>
              <li class="has-dropdown active">
                <a href="tours.html">Du lịch</a>
                <ul class="dropdown">
                  <li><a href="#">Điểm đến</a></li>
                  <li><a href="#">Du lịch trên biển</a></li>
                  <li><a href="#">Khách sạn</a></li>
                  <li><a href="#">Đặt phòng</a></li>
                </ul>
              </li>
              <li><a href="hotels.html">Khách sạn</a></li>
              <li><a href="services.html">Dịch vụ</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="about.html">Về chúng tôi</a></li>
              <li><a href="contact.html">Liên hệ với chúng tôi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <h1>My First Bootstrap 4 Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>

<footer>
      <div class="footer-content">
        <div class="footer-content1">
          <h3 class="title">Liên hệ</h3>
        </div>

        <div class="container" id="contact-info">
          <div class="row">
            <div class="col-sm">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privaty Policy</a></li>
              <li><a href="#">Rooms</a></li>
            </div>
            <div class="col-sm">
              <li><a href="#">The Room & Suites</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Restaurant</a></li>
            </div>
            <div class="col-sm" id="info">
              <p>
                <i class="fa fa-map-marker"><span>  Address:</span></i>
                <p>Tỉnh lộ 44A, thị trấn Phước Hải, huyện Đất Đỏ, tỉnh Bà Rịa – Vũng Tàu, Việt Nam</p>
              </p>
              <p>
                <i class="fa fa-phone"><span>  Phone:</span></i>
                <p>0254 367 9939</p>
              </p>
              <p>
                <i class="fa fa-paper-plane"><span>  Email:</span></i>
                <a href="#">reserv.phuochai@lanrung.com.vn</a>
              </p>
            </div>
            <div class="col-sm">
              <p>Sign up for our newsletter</p>
              <form action="#" class="footer-newsletter">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email...">
                  <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-content2">
          <div class="copyright-footer">
            © 2020 LAN RUNG PHUOC HAI RESORT - ALL RIGHT RESERVED   |   WEBSITE DESIGNED BY TIEN THANH
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
